.background{
  background-color: #dcdcdc;
}
.row{
  padding: 10px;
}

.row .col img{
  width: 100%;
  margin-top: 10px;
}

.title h3{
  font-size: 18px;
  font-weight: bold;
}

.col img:hover{
  box-shadow: 5px 10px 6px 0 rgba(0, 0, 0, 0.2);
}
